<h1>Products</h1>

<%= link_to "New Product", new_product_path %>


<ul>
  <% Product.all.each do |product| %>
    <li>
      <%= render "product_description", product: product%>
      <p>
        <%= link_to "See product", product_path(product)%>
      </p>
    </li>
  <% end  %>
</ul>
