<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <nav>
        <%= link_to "Products", products_path %>
        <%= link_to "New Product", new_product_path %>
      </nav>
    </header>

    <main>
      <%= yield %>
    </main>

  </body>
</html>
